#requirements.txt
snowflake-connector-python
# Streamlit < 0.65
from streamlit.ReportThread import get_report_ctx

# Streamlit > 0.65
from streamlit.report_thread import get_report_ctx

# Streamlit > ~1.3
from streamlit.script_run_context import get_script_run_ctx as get_report_ctx

# Streamlit > ~1.8
from streamlit.scriptrunner.script_run_context import get_script_run_ctx as get_report_ctx

# Streamlit > ~1.12
from streamlit.runtime.scriptrunner.script_run_context import get_script_run_ctx as get_report_ctx
